<!-- Comments List -->
<article class="media">
  <div class="media-content">
    <div class="content" v-for="rating in ratingList">
      <p>
        <span style="font-weight: 700;">[[ rating.user ]]</span>
        <br>
        [[ rating.comment ]]
      </p>
    </div>
  </div>
</article>
<!-- Create Comment -->
<article class="media">
  <div class="media-content">
    <div class="field">
      <p class="control">
         <!--Star Rating -->
        <div class="star-rating">
          <label 
            class="star-rating__star" 
            v-for="num in ratings"
            :class="{'is-selected': ((rating.score >= num) && rating.score != null)}"
            @click="set(num)" 
            @mouseover="star_over(num)"
            @mouseout="star_out"
          >
            <input 
              class="star-rating star-rating__checkbox" 
              type="radio"
              :value="num" 
              name="score"
              v-model="rating.score" 
            />★
          </label>
        </div>
        <!--<input type="number" name="score" min="0" max="5" v-model="rating.score"/>-->
      </p>
    </div>
    <div class="field">
      <p class="control">
        <textarea v-model="rating.comment" class="textarea" placeholder="리뷰 작성" name="comment"></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <button @click="createRating" class="button is-info">등록</button>
        </div>
      </div>
    </nav>
  </div>
</article>