<!-- Comments List -->
<article class="media">
  <div class="media-content">
    <div class="content" v-if="ratingList !== []">
      <p>
        <strong>John Smith</strong> <small>@johnsmith</small>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
      </p>
    </div>
  </div>
</article>
<!-- Create Comment -->
<article class="media" id="comments">
  <div class="media-content">
    <div class="field">
      <p class="control">
        <label>
          평점
        </label>
        <input v-model="rating.score" type="number" name="score">
      </p>
    </div>
    <div class="field">
      <p class="control">
        <textarea v-model="rating.comment" class="textarea" placeholder="리뷰 작성" name="comment"></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a @click="createRating(movie.pk)" class="button is-info">등록</a>
        </div>
      </div>
    </nav>
  </div>
</article>