<!-- Comments List -->
<article class="media" style="border-top: 1px solid rgba(219,219,219,.5);">
  <div class="media-content" style="padding-top: 2.5rem; margin-bottom: 0.5rem;">
    <p v-show="!ratingList.length" style="color: #fff; margin-bottom: 0.5rem;">아직 등록된 평점이 없습니다. 평점을 남겨주세요!</p>
    <div class="content" v-for="rating in ratingList" v-show="ratingList.length">
      <div class="block" style="margin-bottom: 1rem;">
        <div style="display:flex; align-items:center;">
          <a style="font-weight: 700;" :href="getProfileUrl(rating.username)" class="has-text-white-bis">[[ rating.username ]]</a>
          <span style="margin-left: 0.4rem;">
            <i v-for="num in rating.score" class="fas fa-star" 
            style="color: #FFD700; font-size: 1rem; margin-bottom: 0rem;"></i>
          </span>
          <!-- Edit Button -->
          <a 
            style="margin-left: 0.4rem; color: #fff;" 
            v-if="rating.username === '{{ user.username }}'"
            @click="editRating(rating)"
          >
            <i class="far fa-edit fa-sm"></i>
          </a>
          </a>
          <!-- Delete Button -->
          <a 
            style="margin-left: 0.4rem; color: #fff;" 
            v-if="rating.username === '{{ user.username }}'"
            @click="deleteRating(rating.id)"
          >
            <i class="far fa-trash-alt fa-sm"></i>
          </a>
        </div>
        <p>[[ rating.comment ]]</p>
      </div>
    </div>
  </div>
</article>
{% if user.is_active %}
<!-- Create Comment -->
<article class="media">
  <div class="media-content">
    <div class="field">
      <p class="control">
         <!--Star Rating -->
        <div class="star-rating">
          <label
            class="star-rating__star" 
            v-for="num in ratings"
            :class="{'is-selected': ((rating.score >= num) && rating.score != null)}"
            @click="set(num)" 
            @mouseover="star_over(num)"
            @mouseout="star_out"
          >
            <input 
              class="star-rating star-rating__checkbox" 
              type="radio"
              :value="num" 
              name="score"
              v-model="rating.score" 
            /><i class="fas fa-star"></i>
          </label>
        </div>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <textarea v-model="rating.comment" class="textarea" placeholder="리뷰 작성" name="comment"></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <button 
            v-if="!edit.isEditing"
            @click="createRating('{{ user.username }}')" class="button is-info">
            등록
          </button>
          <button
            v-if="edit.isEditing"
            @click="updateRating" 
            class="button is-success"
          >
            수정
          </button>
          <button
            style="margin-left: 0.4rem;"
            v-if="edit.isEditing"
            @click="cancelEdit"
            class="button is-outlined is-light"
          >
            취소
          </button>
        </div>
      </div>
    </nav>
  </div>
</article>
{% endif %}