<section class="section genres" style="padding-right: 3rem; padding-left: 3rem;">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <a href="{% url 'movies:genres_detail' 1 %}">
          <article 
            class="media notification"
            style="background: url('https://static.standard.co.uk/s3fs-public/thumbnails/image/2013/09/06/08/About-Time.jpg?w968'); 
                  background-size: cover;">
            <div class="media-content">
              <div class="content">
                <h1 class="title genre-title is-size-4">
                  <span class="highlight">로맨스</span>
                </h1>
                <p class="subtitle">
                  <br/><br/><br/>
                </p>
              </div>
            </div>
          </article>
        </a>
      </div>
      <div class="column is-one-third">
        <article 
          class="media notification"
          style="background: url('https://img.newatlas.com/sci-fi-2019-film-tv-4.jpg?auto=format%2Ccompress&dpr=2&fit=max&q=40&w=1000&s=8b98b9bb2888a580ae1f82a4dc231d06'); 
                background-size: cover;">
          <div class="media-content">
            <div class="content">
              <h1 class="title genre-title is-size-4">
                <span class="highlight">SF</span>
              </h1>
              <p class="subtitle">
                <br/><br/><br/>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article 
          class="media notification"
          style="background: url('http://archivenew.vop.co.kr/images/cdcfc3e484a1b92ecab31ba7e4109c20/2017-03/30022242_1.jpg'); 
                background-size: cover;">
          <div class="media-content">
            <div class="content">
              <h1 class="title genre-title is-size-4">
                <span class="highlight">뮤지컬</span>
              </h1>
              <p class="subtitle">
                <br/><br/><br/>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article 
          class="media notification"
          style="background: url('https://img3.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/201805/31/MOVIERISING/20180531194413853a9zs.jpeg'); 
                background-size: cover;">
          <div class="media-content">
            <div class="content">
              <h1 class="title genre-title is-size-4">
                <span class="highlight">가족</span>
              </h1>
              <p class="subtitle">
                <br/><br/><br/>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article 
          class="media notification"
          style="background: url('http://image.cine21.com/resize/cine21/still/2008/0716/M0020025_pl2_66204[W680-].jpg'); 
                background-size: cover;">
          <div class="media-content">
            <div class="content">
              <h1 class="title genre-title is-size-4">
                <span class="highlight">액션</span>
              </h1>
              <p class="subtitle">
                <br/><br/><br/>
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article 
          class="media notification"
          style="background: url('http://cdn.eyesmag.com/wp-content/uploads/2019/04/15150031/marvle-avengers-endgame-movie-kakaopage-main.jpg'); 
                background-size: cover;">
          <div class="media-content">
            <div class="content">
              <h1 class="title genre-title is-size-4">
                <span class="highlight">판타지</span>
              </h1>
              <p class="subtitle">
                <br/><br/><br/>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>