{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block app %}
<section class="section movie-detail" style="padding-top: 6rem;">
  <div class="container">
    <!-- Movie Detail -->
    <div class="columns is-centered" style="margin-bottom: 8rem;">
      <div class="column" style="display:flex; justify-content: center; align-items: center;">
        <div class="content" style="max-width: 650px">
          <!-- Movie Poster -->
          <div class="gradient-box"><img src="{{ movie.poster_url }}" width="650"></div>
          <!-- Genres -->
          <div class="tags" style="margin-top: 1.8rem; margin-bottom: 0.2rem;">
            {% for genre in movie.genres.all %}
            <a class="tag is-small is-info" href="{% url 'movies:genres_view' %}?type={{ genre.type }}">
              {{ genre.type }}
            </a>
            {% endfor %}
          </div>
          <h1 class="title" style="margin-top: 0.8rem; margin-bottom: 1rem;">{{ movie.title }}</h1>
          <div class="movie-description" style="line-height: 1.6">
            <small>{{ movie.release }} 개봉</small>
            &bull; <small>{{ movie.film_rating }}</small>
            &bull; <small><i class="fas fa-users"></i> {{ movie.audience | intcomma }}명</small>
            <div class="content" style="margin-top: 1rem;">
              <p style="margin-bottom: 0">감독 : {{ movie.director }}</p>
              <p style="margin-bottom: 0">
                배우 : {{ movie.actor1 }}
                {% if movie.actor2 %}
                , {{ movie.actor2 }}
                  {% if movie.actor3 %}
                  , {{ movie.actor3 }}
                  {% endif %}
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Comments -->
    <div class="columns is-centered" style="margin-top: 2rem; margin-bottom: 5rem;" id="comments">
      <div class="column comments" style="max-width: 650px; padding: 0;">
        {% include 'movies/_comments.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script>
  const detail = new Vue({
    el: '#comments',
    delimiters: ['[[', ']]'],
    data: {
      ratingList: [],
      rating: {
        score: 0,
        comment: '',
      },
      temp_value: null,
      ratings: [1, 2, 3, 4, 5],
      edit: {
        isEditing: false,
        rating: null,
      }
    },

    methods: {
      getProfileUrl: function (username) {
        return "{% url 'accounts:profile_view' 'asd'%}".replace('asd', `${username}`)
      },
      star_over: function(index) {
        this.temp_value = this.rating.score;
        this.rating.score = index;
      },

      star_out: function() {
        this.rating.score = this.temp_value;
      },

      set: function(num) {
        this.temp_value = num;
        this.rating.score = num;
      },

      createRating: function(username) {
        axios.post('{% url 'movies:ratings_list' movie.id %}', this.rating)
          .then(res => {
            this.ratingList.push(res.data);
            this.rating.comment = '';
            this.rating.score = 0;
          })
          .catch(err => console.log(err))
      },

      deleteRating: function(id) {
        if (window.confirm('정말 삭제하시겠습니까?')) {
          const url = "{% url 'movies:ratings_detail' 123456 %}".replace('123456', `${id}`)
          axios.delete(url)
            .then(res => {
              this.ratingList = this.ratingList.filter(rating => rating.id !== id);
            })
            .catch(err => console.log(err));
        }
      },

      cancelEdit: function() {
        this.edit.isEditing = false;
        this.rating.comment = '';
        this.rating.score = 0;
      },
      
      editRating: function(editing) {
        this.edit.isEditing = true;
        this.edit.rating = editing;
        this.rating.score = editing.score;
        this.rating.comment = editing.comment;
      },

      updateRating: function() {
        this.edit.rating.score = this.rating.score;
        this.edit.rating.comment = this.rating.comment;
        const url = "{% url 'movies:ratings_detail' 123456 %}".replace('123456', `${this.edit.rating.id}`)
        axios.put(url, {'score': this.rating.score, 'comment': this.rating.comment})
          .then(res => {
            console.log(res.data);
            this.edit.isEditing = false;
            this.rating.comment = '';
            this.rating.score = 0;
          })
          .catch(err => console.log(err));
      }
    },

    created() {
      axios.get("{% url 'movies:ratings_list' movie.id %}")
        .then(res => {
          this.ratingList = res.data;
        })
        .catch(err => console.log(err));
    }
  })

</script>
{% endblock %}