{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block app %}
<section class="section movie-detail" style="padding-top: 6rem;">
  <div class="container">
    <!-- Movie Detail -->
    <div class="columns is-centered" style="margin-bottom: 10rem;">
      <div class="column" style="display:flex; justify-content: center; align-items: center;">
        <div class="content" style="max-width: 650px">
          <!-- Movie Poster -->
          <img src="{{ movie.poster_url }}" width="650">
          <!-- Genres -->
          <div class="tags" style="margin-top: 1rem; margin-bottom: 0.2rem;">
            {% for genre in movie.genres.all %}
            <span class="tag">{{ genre.type }}</span>
            {% endfor %}
          </div>
          <h1 class="title" style="margin-top: 0; margin-bottom: 0.4rem;">{{ movie.title }}</h1>
          <div class="movie-description" style="line-height: 1.6">
            <small>{{ movie.release }} 개봉 &bull; {{ movie.audience | intcomma }}명 &bull; {{ movie.film_rating }}</small>
            <p style="margin-bottom: 0">감독 : {{ movie.director }}</p>
            <p style="margin-bottom: 0">배우 : {{ movie.actor1 }}, {{ movie.actor2 }}, {{ movie.actor3 }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Comments -->
    <div class="columns is-centered" style="margin-top: 5rem; margin-bottom: 5rem;">
      <div class="column comments" style="max-width: 650px; padding: 0;">
        {% include 'movies/_comments.html' %}
      </div>
    </div>
  </div>
</section>

<script>
  Vue.component('star-rating', {
    props: {
      'name': String,
      'value': null,
      'id': String,
      'disabled': Boolean,
      'required': Boolean
    },
  
    template: '<div class="star-rating">\
          <label class="star-rating__star" v-for="rating in ratings" \
          :class="{\'is-selected\': ((value >= rating) && value != null), \'is-disabled\': disabled}" \
          v-on:click="set(rating)" v-on:mouseover="star_over(rating)" v-on:mouseout="star_out">\
          <input class="star-rating star-rating__checkbox" type="radio" :value="rating" :name="name" \
          v-model="value" :disabled="disabled">★</label></div>',
  
    data: function() {
      return {
        temp_value: null,
        ratings: [1, 2, 3, 4, 5]
      };
    },
  
    methods: {
      star_over: function(index) {
        const self = this;
  
        if (!this.disabled) {
          this.temp_value = this.value;
          return this.value = index;
        }
      },
  
      star_out: function() {
        const self = this;
  
        if (!this.disabled) {
          return this.value = this.temp_value;
        }
      },
  
      set: function(value) {
        const self = this;
  
        if (!this.disabled) {
          this.temp_value = value;
          return this.value = value;
        }
      }
    }
  });
  
  const detail = new Vue({
    el: '#comments',
    components: ['star-rating'],
    data: {
      ratingList: [],
      rating: {
        score: 0,
        comment: '',
      },
    },
    method: {
      async createRating(movie_pk) {
        try {
          const res = axios.post(`movies/${movie_pk}/ratings/`, this.rating);
          this.rating.comment = '';
          this.rating.score = 0;
        } 
        catch (err) {
          console.log(err);
        }
      },
    }
  })

</script>
{% endblock %}
