{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block app %}
<!-- Hero content -->
<div class="hero-body" style="padding-top: 4rem; padding-bottom: 5rem;">
  <div class="container has-text-centered">
    <i class="fas fa-quote-left fa-lg" style="color: #fff; margin-bottom: 0.7rem;"></i>
    <h1 class="title hero-title is-2"
        style="margin-bottom: 1.5rem;"
        @mouseover="hover.hero='이주의 영화'"
        @mouseleave="hover.hero='ㅇㅈㅇ ㅇㅎ'"
        v-text="hover.hero">
    </h1>
  </div>
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-half">
        <a href="{% url 'movies:movies_view' movie.pk %}">
          <div class="card movie-card">
            <div class="card-image">
              <figure class="image">
                <img style="border-radius: 10px 10px 0 0;" width="600" src="{{ movie.poster_url }}" alt="{{ movie.title }}">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="tags" style="margin-bottom: 0.4rem;">
                    {% for genre in movie.genres.all %}
                    <span class="tag is-info">{{ genre.type }}</span>
                    {% endfor %}
                  </div>
                  <p class="title is-3 movie-title" style="margin-bottom: 1rem">{{ movie.title }}</p>
                  <small>{{ movie.release }} 개봉</small>
                  &bull;
                  <small>{{ movie.film_rating }}</small>
                  &bull;
                  <small><i class="fas fa-users"></i> {{ movie.audience | intcomma }}명</small>
                </div>
              </div>
              <div class="content">
                <p style="margin-bottom: 0">감독 : {{ movie.director }}</p>
                <p style="margin-bottom: 0">배우 : {{ movie.actor1 }}, {{ movie.actor2 }}, {{ movie.actor3 }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
<section class="section" style="padding-bottom: 10rem;">
  <div class="container has-text-centered">
    <i class="fas fa-quote-right fa-lg" style="color: #fff; margin-bottom: 0.7rem;"></i>
    <h1
            class="title hero-title is-2"
            style="margin-bottom: 1.5rem;"
            @mouseover="hover.genre='장르별 영화'"
            @mouseleave="hover.genre='ㅈㄹㅂ ㅇㅎ'"
            v-text="hover.genre">
    </h1>
  </div>
  {% include 'movies/_genre-cards.html' %}
</section>
{% endblock %}

{% block script %}
<script>
  const home = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      hover: {
        hero: 'ㅇㅈㅇ ㅇㅎ',
        genre: 'ㅈㄹㅂ ㅇㅎ',
        nav: 'ㅁㅂ',
      },
      showNav: false,
      genreCards: [
        { type: '로맨스', url: "https://static.standard.co.uk/s3fs-public/thumbnails/image/2013/09/06/08/About-Time.jpg?w968"},
        { type: 'SF', url: "https://img.newatlas.com/sci-fi-2019-film-tv-4.jpg?auto=format%2Ccompress&dpr=2&fit=max&q=40&w=1000&s=8b98b9bb2888a580ae1f82a4dc231d06"},
        { type: '뮤지컬', url: 'http://archivenew.vop.co.kr/images/cdcfc3e484a1b92ecab31ba7e4109c20/2017-03/30022242_1.jpg'},
        { type: '가족', url: 'https://img3.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/201805/31/MOVIERISING/20180531194413853a9zs.jpeg'},
        { type: '액션', url: 'http://image.cine21.com/resize/cine21/still/2008/0716/M0020025_pl2_66204[W680-].jpg'},
        { type: '판타지', url: 'http://cdn.eyesmag.com/wp-content/uploads/2019/04/15150031/marvle-avengers-endgame-movie-kakaopage-main.jpg'},
      ]
    },
    methods: {
      getGenreUrl: function (genreCard) {
        return "{% url 'movies:genres_view'%}"+`?type=${genreCard.type}`
      },
    }
  })
</script>
{% endblock %}