{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block app %}
<!-- Hero content -->
<div class="hero-body" style="padding-top: 5rem; padding-bottom: 5rem;">
  <div class="container has-text-centered">
    <i class="fas fa-quote-left fa-lg" style="color: #fff; margin-bottom: 0.7rem;"></i>
    <h1 class="title hero-title" 
        style="margin-bottom: 1.5rem;" 
        @mouseover="hover.hero='이주의 영화'" 
        @mouseleave="hover.hero='ㅇㅈㅇ ㅇㅎ'" 
        v-text="hover.hero">
    </h1>
  </div>
  <section class="section">
    <div class="columns is-centered">
      <div class="column is-half">
        <a href="{% url 'movies:movies_detail' movie.pk %}">
          <div class="card movie-card">
            <div class="card-image">
              <figure class="image">
                <img width="600" src="{{ movie.poster_url }}" alt="{{ movie.title }}">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="tags" style="margin-bottom: 0.4rem;">
                    {% for genre in movie.genres.all %}
                      <span class="tag is-primary">{{ genre.type }}</span>
                    {% endfor %}
                  </div>
                  <p class="title is-3 movie-title" style="margin-bottom: 1rem">{{ movie.title }}</p>
                  <small>{{ movie.release }} 개봉</small>
                  &bull; <small>{{ movie.film_rating }}</small>
                  &bull; <small><i class="fas fa-users"></i> {{ movie.audience | intcomma }}명</small>
                </div>
              </div>
              <div class="content">
                <p style="margin-bottom: 0">감독 : {{ movie.director }}</p>
                <p style="margin-bottom: 0">배우 : {{ movie.actor1 }}, {{ movie.actor2 }}, {{ movie.actor3 }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
<section class="section" style="padding-bottom: 10rem;">
  <div class="container has-text-centered">
    <i class="fas fa-quote-right fa-lg" style="color: #fff; margin-bottom: 0.7rem;"></i>
    <h1 
      class="title hero-title"
      style="margin-bottom: 1.5rem;" 
      @mouseover="hover.genre='장르별 영화'"
      @mouseleave="hover.genre='ㅈㄹㅂ ㅇㅎ'" 
      v-text="hover.genre">
    </h1>
  </div>
  {% include 'movies/_genre-cards.html' %}
</section>
{% endblock %}

{% block script %}
<script>
  const home = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      hover: {
        hero: 'ㅇㅈㅇ ㅇㅎ',
        genre: 'ㅈㄹㅂ ㅇㅎ',
        nav: 'ㅁㅂ',
      },
      query: '',
      showNav: false,
    },

    methods: {
      // Axios
      searchMovie: function() {

        
        movieList = [];
        movieId = 0;
        
        axios.get(`movies/`)
          .then(res => {
            movieList = res.data;
            for (let movie in movieList) {
              if (movie.includes(this.query)) {
                movieId = movie.pk;
                break;
              }
            }
            console.log(movieId);
          })
          .catch(err => console.log(err));
      },
    },

})
</script>
{% endblock %}