{% extends 'base.html' %}
{% load bulma_tags %}
{% block app %}
  <section class="section login" id="form">
    <div class="container" style="margin-top: 3rem;">
      <h1 class="title has-text-centered" @mouseover="login='로그인'" @mouseleave="login='ㄹㄱㅇ'" v-text="login"></h1>
      <div class="columns is-centered" style="margin-top: 3rem;">
        <div class="column is-4">
          <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            {{ form | bulma }}
            <div class="field">
              <button class="button is-primary" type="submit">
                로그인
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  <script>
    const form = new Vue({
      el: '#form',
      data: {
        login: 'ㄹㄱㅇ',
      },
    })
  </script>
{% endblock %}