{% extends 'base.html' %}
{% load static %}
{% load gravatar %}
{% block app %}
  <section class="section" style="padding-bottom: 5rem;">
    <div class="container">
      <section class="section" style="padding-top: 0; padding-bottom: 0;">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img
                  style="border-radius: 10px;"
                  src="{{ person.email|gravatar_url:128 }}" class="img-thumbnail p-2 mr-3"
                  alt="{{ person.username }}'s gravatar">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
              <span style="
                font-family: 'Noto Sans KR';
                font-weight: 700;
                font-size: 1.5rem;
                color: #fff;
                margin-right: 0.5rem;
              ">
                {{ person.username }}
              </span>
                {% if user != person %}
                  <button v-show="!is_follow" class="button is-primary" @click="follow('{{ person.username }}')">팔로우
                  </button>
                  <button v-show="is_follow" class="button is-light is-outlined"
                          @click="follow('{{ person.username }}')">팔로잉
                  </button>
                {% endif %}
              </p>
            </div>
          </div>
          <nav class="level-left has-text-white-bis">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Following</p>
                <p class="title has-text-white-bis">[[ followings ]]</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Followers</p>
                <p class="title has-text-white-bis">[[ followers ]]</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Ratings</p>
                <p class="title has-text-white-bis">[[ rating_count ]]</p>
              </div>
            </div>
          </nav>
        </article>
      </section>
    </div>
    <!-- 팔로워 추천 -->
    {% if user == person %}
      <div class="container has-text-white-bis">
        <section class="section">
          <div style="border-bottom: 1px solid rgba(219, 219, 219, 0.5);
          margin-bottom: 1.5rem;
          padding-bottom: 0.5rem;
          margin-top: 3rem;">
            <p class="title is-4 has-text-white">팔로워 추천</p>
          </div>
          <div style="margin-top: 2rem;">
            {% if user.from_user.count == 0 %}
              <li style="list-style:none;">새로운 유저를 팔로우 해보세요!</li>
            {% endif %}
            {% for follower in user.from_user.all %}
              {% if follower.get_recommend %}
                <li style="list-style:none;margin-bottom: 15px;">
                  <a href="{% url 'accounts:profile_view' follower.username %}"
                     class="has-text-white-bis">{{ follower.username }}</a> 님의 최애 영화
                </li>
                <article class="message">
                  <div class="message-header">
                    <a href="{% url 'movies:movies_view' follower.get_recommend.movie.id %}"
                       style="text-decoration: none;">
                      <p>{{ follower.get_recommend.movie.title }}</p>
                    </a>
                  </div>
                  <div class="message-body">
                  <span>
                  {% for i in i|rjust:follower.get_recommend.score %}
                    <i class="fas fa-star" style="color: #FFD700; font-size: 1rem; margin-bottom: 0.4rem;"></i>
                  {% endfor %}
                  </span>
                    <br/>
                    {{ follower.get_recommend.comment }}
                  </div>
                </article>
              {% endif %}
            {% endfor %}
          </div>
        </section>
      </div>
    {% endif %}
    <div class="container has-text-white-bis">
      <section class="section">
        <div style="border-bottom: 1px solid rgba(219, 219, 219, 0.5);
          margin-bottom: 1.5rem;
          padding-bottom: 0.5rem;
          margin-top: 3rem;">
          <p class="title is-4 has-text-white">작성한 리뷰</p>
        </div>
        {% if person.ratings.all %}
          <li style="list-style:none;">등록한 평점 : {{ person.ratings.all.count }} 개</li>
          <li style="list-style:none;">평균 평점 : {{ person.get_score }} / 5.0 점</li>

          <div style="margin-top: 2rem;">
            {% for rating in person.ratings.all reversed %}
              <article class="message">
                <div class="message-header">
                  <a href="{% url 'movies:movies_view' rating.movie.id %}" style="text-decoration: none;">
                    <p>{{ rating.movie.title }}</p></a>
                </div>
                <div class="message-body">
            <span>
              {% for i in 1|rjust:rating.score %}
                <i class="fas fa-star" style="color: #FFD700; font-size: 1rem; margin-bottom: 0.4rem;"></i>
              {% endfor %}
            </span><br/>
                  {{ rating.comment }}
                </div>
              </article>
            {% endfor %}
          </div>

        {% else %}
          <li style="list-type: none;">아직 등록된 평점이 없습니다. 평점을 남겨주세요!</li>
        {% endif %}
      </section>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    const profile = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        is_follow: {% if person in user.from_user.all %} true {% else %} false {% endif %},
        followings: {{ person.from_user.count }},
        followers: {{ person.to_user.count }},
        rating_count: {{ person.ratings.count }},
      },
      methods: {
        follow: function (person) {
          const url = "{% url 'accounts:profile_follow' 'asd'%}".replace('asd', person);
          axios.get(url).then(res => {
            if (res.data.is_follow) {
              this.followers++;
              this.is_follow = true;
            } else {
              this.followers--;
              this.is_follow = false;
            }
          });
        },
      },
    })
  </script>
{% endblock %}