{% extends 'base.html' %}
{% load static %}
{% load gravatar %}
{% block app %}
<section class="section">
  <div class="container">
    <section class="section" style="padding-top: 0; padding-bottom: 0;">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="{{ person.email|gravatar_url:128 }}" class="img-thumbnail p-2 mr-3"
                 alt="{{ person.username }}'s gravatar">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <span style="
                font-family: 'Noto Sans KR';
                font-weight: 700;
                font-size: 1.5rem;
                color: #fff;
                margin-right: 0.5rem;
              ">
                {{ person.username }}
              </span>
              <button class="button is-primary is-outlined">팔로우</button>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <span class="level-item" style="color: #fff;">
                여기에 어떤 걸 쓸까
              </span>
            </div>
          </nav>
        </div>
      </article>
    </section>
  </div>
  <div class="container has-text-white-bis">
    <section class="section">
      <div class="tabs">
        <ul>
          <li>작성한 리뷰</li>
        </ul>
      </div>
      {% if person.ratings.all %}
      <li class="list-group-item">등록한 평점 : {{ person.ratings.all.count }} 개</li>
      <li class="list-group-item">평균 평점 : {{ person.get_score.score__avg }} / 5.0 점</li>
      <table class="table rating-table is-fullwidth has-text-white-bis has-background-black">
        <thead>
        <tr>
          <th scope="col" class="has-text-white-bis">movie</th>
          <th scope="col" class="has-text-white-bis">comment</th>
          <th scope="col" class="has-text-white-bis">score</th>
        </tr>
        </thead>
        <tbody>
        {% for rating in person.ratings.all reversed %}
        <tr>
          <td><a href="{% url 'movies:movies_view' rating.movie.id %}" class="button is-info is-small">
            {{ rating.movie.title }}</a></td>
          <td>{{ rating.comment }}</td>
          <td>
            <span style="margin-left: 0.4rem;">
              {% for i in i|rjust:rating.score %}
              <label class="star-rating__star" v-for="num in rating.score"
                     style="color: #FFD700; font-size: 1rem; margin-bottom: 0.4rem;">★</label>
              {% endfor %}
          </span>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <li class="list-group-item">아직 기록된 평점이 없습니다.</li>
      {% endif %}
    </section>
  </div>
</section>
<!--<div class="container">-->
<!--  <div class="row mb-5">-->
<!--    <div class="col-3">-->
<!--      <img src="{{ person.email|gravatar_url:200 }}" class="img-thumbnail p-2 mr-3"-->
<!--           alt="{{ person.username }}'s gravatar">-->
<!--    </div>-->
<!--    <div class="col-9">-->
<!--      <h2>-->
<!--        {{ person.username }}-->
<!--        {% if person != user %}-->
<!--        {% if user in person.to_user.all %}-->
<!--        <a href="{% url 'accounts:profile_follow' person.username %}" class="btn btn-outline-secondary ml-2 py-1 px-2">팔로잉</a>-->
<!--        {% else %}-->
<!--        <a href="{% url 'accounts:profile_follow' person.username %}" class="btn btn-primary ml-2 py-1 px-2">팔로우</a>-->
<!--        {% endif %}-->
<!--        {% endif %}-->
<!--      </h2>-->
<!--      <h5 class="mb-4">-->
<!--        {{ person.last_name }}{{ person.first_name }}-->
<!--      </h5>-->
<!--    </div>-->
<!--  </div>-->
<!--  {% if user == person %}-->
<!--  <h5 class="mb-4">팔로워 추천</h5>-->
<!--  {% for follower in user.from_user.all %}-->
<!--  <li class="list-group-item"><a href="{% url 'accounts:profile_view' follower.id %}">-->
<!--    {{ follower.username }}</a>'s pick : {% if follower.get_recommend %}-->
<!--    <a href="{% url 'movies:movies_view' follower.get_recommend.movie.id %}">-->
<!--      {{ follower.get_recommend.movie.title }}</a> {{ follower.get_recommend.value }} / 10 점-->
<!--    {% else %}-->
<!--    아직 작성한 평점이 없습니다.-->
<!--    {% endif %}-->
<!--  </li>-->
<!--  {% endfor %}-->
<!--  {% endif %}-->
{% endblock %}

{% block script %}
{% endblock %}