{% extends 'base.html' %}
{% load bulma_tags %}
{% block app %}
<section class="section signup">
<div class="container" style="margin-top: 3rem;">
  <h1 class="title has-text-centered">ㅎㅇㄱㅇ</h1>
  <div class="columns is-centered" style="margin-top: 3rem;">
    <div class="column is-4">
      <form method="POST" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        {{ form | bulma }}
        <div class="field">
          <button class="button is-primary" type="submit">
            회원가입
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</section>
{% endblock %}