<!-- .Nav -->
<nav class="navbar is-black" id="nav" style="padding-top: 0.6rem;">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'movies:index' %}">
        <i class="fas fa-video" style="margin-right: 0.3rem;"></i>
        <span @mouseover="hover.nav='미음비읍'" @mouseleave="hover.nav='ㅁㅂ'" v-text="hover.nav">ㅁㅂ</span>
      </a>
      <span class="navbar-burger burger"
            @click="showNav = !showNav"
            :class="{ 'is-active': showNav }"
            data-target="navbarMenuHeroA">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu has-background-black" :class="{ 'is-active': showNav }">
      <div class="navbar-end">
        <!--<a class="navbar-item is-active" href="{% url 'movies:index' %}">홈</a>-->
        <div class="navbar-item field" style="margin-bottom: 0;">
          <ul class="menu-list" v-show="!showNav" style="margin-right: 0.6rem;">
            <li>
              <p class="control has-icons-right">
                <input class="input" type="search" placeholder="영화 검색" v-model="query" @keydown.enter="searchMovie">
                <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
              </p>
            </li>
            <li 
              v-for="movie in filteredMovies" 
              class="search-movie" 
              style="border-radius: 4px; border: 1px solid transparent;"
            >
              <a :href="detailUrl(movie)">[[ movie.title ]]</a>
            </li>
          </ul>
        </div>
        {% if user.is_active %}
        <span class="navbar-item">
        <a style="font-family: 'Gugi'; color: #fff;" href="{% url 'accounts:profile_view' user.username %}" >{{ user.username }}</a>
      </span>
        <span class="navbar-item">
        <a class="button is-light is-outlined" href="{% url 'accounts:logout' %}">
          <span>로그아웃</span>
        </a>
      </span>
        {% else %}
        <span class="navbar-item">
        <a class="button is-primary is-outlined" href="{% url 'accounts:signup' %}">
          <span>회원가입</span>
        </a>
      </span>
        <span class="navbar-item">
        <a class="button is-light is-outlined" href="{% url 'accounts:login' %}">
          <span>로그인</span>
        </a>
      </span>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
<script>
  const nav = new Vue({
    el: '#nav',
    delimiters: ['[[', ']]'],
    data: {
      hover: {
        nav: 'ㅁㅂ',
      },
      movies: [],
      query: '',
      showNav: false,
    },
    computed: {
      filteredMovies: function () {
        if (!this.query) return [];
        let query = this.query.trim().toLowerCase();
        return this.movies.filter(movie =>
          movie.title.toLowerCase().includes(query)
          || movie.title_eng.toLowerCase().includes(query)
          || movie.title_org.toLowerCase().includes(query))
      }
    },
    created() {
      axios.get("{% url 'movies:movies_list' %}")
        .then(res => this.movies = res.data)
    },
    methods: {
      detailUrl: function (movie) {
        return `/movies/${movie.id}`
      },
    },
  })
</script>
<!-- /.Nav -->